.reservation-form {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .button-row {
    display: flex;
    justify-content: center;
  }
  
  .form-group {
    flex: 1;
    margin-right: 10px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid lightblue;
    border-radius: 4px;
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-success {
    background-color: #28a745;
    color: white;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: white;
  }